<div class=main>
  {% block main %}
  <h1 align="center">Europa Universalis 4 Achievement Helper</h1>
  <form action="" method="post">
    <div id="meeh-btns">
    </div>
    </br>
    <div id="new_item_div">
      <h4>Steam ID: </h4>
      <input id="new_item_text" class="new_item" name="myID" placeholder="user id">
      </br>
      <h4>Achievement: </h4>
      <input id="new_item_text" class="new_item" name="myAchi">
      </br>
      </br>
      <input id="new_item_button" name="search" class="new_item btn btn-primary" type="submit" value="Search">
      <input id="all_my_ach" name="show_all" class="new_item btn btn-primary" type="submit" value="Show all achieved">
    </div>
    </br>
    <div class="grid-container-new">
    <div> HELLO THERE! </div>
    </div>
    </form>
  {% endblock %}
</div>
